<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bps_reader"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:name="bps.android.reader.application.MyApplication"
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="landscape"
        android:theme="@style/AppTheme" >
        <activity
            android:name="bps.android.reader.activity.BookShelfActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="bps.android.reader.activity.ShowBookDetailsActivity"
            android:label="BookDetailsActivity"
            android:parentActivityName="bps.android.reader.activity.BookShelfActivity" >
        </activity>
        <activity android:name="bps.android.reader.activity.ShowArticleActivity" >
        </activity>
        <activity android:name="bps.android.reader.activity.ChangeListGridActivity" >
        </activity>
        <activity android:name="jp.bpsinc.android.viewer.epub.fxl.activity.FxlEpubViewerActivity" >
        </activity>
        <activity android:name="jp.bpsinc.android.viewer.epub.omf.activity.OmfEpubViewerActivity" >
        </activity>
        <activity android:name="bps.android.reader.activity.SampleDialogShelfActivity" >
        </activity>
    </application>

</manifest>